@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0em;
    padding: 0em;
}

:root{
    --cor0: white;
    --ColorOrange: #fb7413;
    --ColorLGrey: #959eac;
    --ColorMGrey: #7c8798;
    --ColorBlue: #252d37;
    --ColorDBlue: #121417;

    --fontpadrão: 'Overpass', sans-serif;
}

body{
    background-color: var(--ColorDBlue);
    color: white;
    font-family: var(--fontpadrão);
}

.material-icons{
    color: var(--ColorOrange);

}


/*Rating*/
section{
    width: 19em;
    /*height:  22.375em;*/
    height: 22.5em;
    background-image: linear-gradient(to bottom,#1e252c,#181a1ff8);

    margin: auto;
    border-radius: 0.9375em;
    padding-left: 1.625em;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

picture >img#star{
    margin-top: 1.60rem;
    background-color: #30343a;
    padding: 0.695em;
    border-radius: 50%;

}

h2{
    margin-top: 0.86rem;
    margin-bottom: 0.78rem;
}

p#lorem{
    width: 20.4em;

    line-height: 1.55em;
    font-size: 0.86em;
    color: var(--ColorMGrey);

    margin-bottom: 2em;
}

.buttonnumber{
    width: 2.5em;
    height: 2.5em;

    padding: 0.0625em;
    display: inline-block;

    background-color: var(--ColorBlue);
    border-radius: 50%;

    font-size: 1em;
    text-align: center;    
    color: var(--ColorMGrey);
}

.left{
    margin-left: 0.875em;
}

.vertical{
    position: absolute;
    top:14.45em;
    transform: translateX(-0.2em);
}

#submit{
    width: 18.4em;
    height: 1.4em;
    border-radius: 2.5em;

    margin-top: 1.3em;
    background-color: var(--ColorOrange);

    text-align: center;
    padding: 0.7875em;
    font-size: 0.85em;
}

#ssub{
    position: absolute;
    transform: translateY(0.25em);
    left: 10em;
}

p#b1:hover{
    background-color: var(--ColorOrange);
    color: white;
    cursor: pointer;
}
p#b2:hover{
    background-color: var(--ColorOrange);
    color: white;
    cursor: pointer;
}
p#b3:hover{
    background-color: var(--ColorOrange);
    color: white;
    cursor: pointer;
}
p#b4:hover{
    background-color: var(--ColorOrange);
    color: white;
    cursor: pointer;
}
p#b5:hover{
    background-color: var(--ColorOrange);
    color: white;
    cursor: pointer;
}

#submit:hover{
    cursor: pointer;
    color: var(--ColorOrange);
    background-color: white;
}

/*thanks-you-state*/
#thank-you-state{
    display: none;
}


#imgthanks{
    margin: auto;
    display: block;
    width: 9.0625em;
    margin-top: 2.1875em;
    margin-left:  4.0625em;
}

p#result{
    margin: auto;
    margin-top:  1.5625em;

    color: #d18512;

    background-color: var(--ColorBlue);
    border-radius: 2.1875em;
    padding: 0.4375em 0.9375em;

    display: inline-block;

    font-size: 0.875em;
    text-align: center;
    transform: translateX(4em);
}

#thx{
    text-align: center;
    font-weight: bold;
    margin-top: 1.5625em;
    font-size: 1.5em;
    transform: translateX(-0.8125em);
    
}

#appreciate{
    color: var(--ColorMGrey);
    text-align: center;

    font-size: 0.875em;
    line-height: 1.3125rem;
    
    margin-right: 0em;
    margin-left: 0em;
    width: 17.4375rem;

    position: absolute;
    left: 8%
}