@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    box-sizing: border-box;

}


.left {
    margin-top: 0px;
    width: 200px;
    height: 100vh;
    background-color: lightgray;
    display: inline-block;
    box-sizing: border-box;

}

section {
    box-sizing: border-box;
    display: inline-block;
    transform: translateY(50px);
    padding-left: 50px;
}

header {
    margin-bottom: 50px;
}

p.default {
    width: 100px;
    height: 50px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;

}

p.default>span {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);

    text-align: center;
}

#hoverr {
    margin-left: 250px;
}

#hoverr:hover {
    background-color: gray;
}

#outline {
    margin-top: 70px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

#outlinehover {
    margin-left: 250px;
    margin-top: 70px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}


#outlinehover:hover {
    background-color: rgba(82, 201, 241, 0.151);
}

#text {
    color: blue;
    margin-top: 140px;
    background-color: white;
}

#texthover {
    color: blue;
    margin-top: 140px;
    margin-left: 250px;
    background-color: white;
}

#texthover:hover {
    background-color: rgba(82, 201, 241, 0.151);
}

#colorwhite {
    color: white;
    margin-top: 210px;
    background-color: blue;
}

#colorgray {
    color: gray;
    margin-top: 280px;
}

#colorgrayhover {
    color: gray;
    margin-top: 280px;
    margin-left: 250px;
    background-color: white;
}

#shoppingcar {
    width: 150px;
    margin-top: 350px;
    color: white;
    background-color: blue;

}

#sc {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

#car {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}

#shoppingcarhover {
    width: 150px;
    margin-top: 350px;
    margin-left: 250px;
    color: white;
    background-color: blue;
}

#sch {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
}

#carhover {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

#little {
    color: white;
    background-color: blue;
    margin-top: 420px;
    width: 80px;
    height: 40px;
    font-size: 16px;
}

#medium {
    color: white;
    background-color: blue;
    margin-top: 420px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    font-size: 18px;
}

#large {
    color: white;
    background-color: blue;
    margin-top: 400px;
    margin-left: 300px;
    width: 150px;
    height: 75px;
    font-size: 22px;
}

#slarge {
    left: 25%;
}