* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#inp {
    font-weight: bolder;
    color: black;
}



/*CORPO LATERAL ESQUERDO*/
nav {
    width: 130px;
    height: 250vh;
    float: left;

    background-color: rgba(230, 230, 230, 0.26);
    padding-left: 30px;
}

nav>p#header {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 120px;
    color: black;
}

nav>p>span {
    color: rgb(255, 123, 0);
    font-weight: bold;
}

nav>p {
    font-size: 16px;
    line-height: 50px;
    color: gray;
}





/*CORPO PRINCIPAL*/
main {
    margin-left: 300px;
    padding-top: 50px;
    color: gray;
}

main>h1 {
    font-size: 30px;
    font-weight: 549.9;
    color: rgb(70, 70, 70);
    margin-bottom: -30px;
}

main>div>p {
    color: black;
    font-size: 14px;
}

.textdefault {
    margin-bottom: 20px;
}

.buttondefault {
    height: 40px;
    width: 90px;
    background-color: rgba(211, 211, 211, 0.603);
    border-radius: 8px;
    text-align: center;
    position: absolute;
    color: rgb(92, 91, 91);
}

.spanbutton {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-10px);
    font-weight: bold;

}

.divhoverdefault {
    margin-left: 210px;
    transform: translateY(-35px)
}

.textdefault {
    transform: translateY(10px);
}

#texthover1 {
    color: rgb(160, 159, 159);

}

#hover1:hover {
    background-color: gray;
    color: black;
    font-weight: bolder;
}

.boxdefaultleft{
    margin-top: 60px;
}

/*2 linha*/
#bgwborblu,#colblue{
    background-color: white;
    color: rgb(100, 100, 248);
    border: 1px solid rgb(100, 100, 248);
}

#colblue:hover{
    color: rgb(100, 100, 248);
    background-color: rgba(127, 160, 252, 0.233);
    border: 1px solid rgb(100, 100, 248);
}

/*3 linha*/
#noborder,#noborderhover{
    background-color: white;
    color: rgb(100, 100, 248);
}

#noborderhover:hover{
    background-color: rgba(127, 160, 252, 0.233);
}

/*4 linha*/
#bgbluecolwhite{
    width: 90px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

.boxdefaultleft2{
    margin-top: 120px;
}

#divhoverdefault{
    margin-top: 120px;
}

#texthover5:hover{
    background-color: white;
}

/*5 linha*/
#bgbluecolwhite3{
    width: 100px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

/*6 linha*/
#bgbluecolwhite2{
    width: 80px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

.material-symbols-outlined{
    position: absolute;
    transform: translateY(10px);
    left: 10%;
}

#shoppingcar{
    position: absolute;
    left: 30%;
}

#hovercar:hover{
    position: absolute;
    left: 70%;
}

/*7 linha*/
#sizesm{
    width: 70px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

#textsizesm{
    left: 20%;
}

#textsizelg{
    left: 26%;
}

#sizemd{
    width: 95px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

#sizelg{
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgba(0, 26, 255, 0.705);
}

.divhoverright{
    margin-left: 400px;
    transform: translateY(-70px)
}

